<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724008431938-tvl6p1ukfogl3d9l2mrrh48v61v41t6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724008431938-tvl6p1ukfogl3d9l2mrrh48v61v41t6q</string>
	<key>API_KEY</key>
	<string>AIzaSyBg0Zm9f-5j5YDEhUrWQ9WpYVx3g3_DrDc</string>
	<key>GCM_SENDER_ID</key>
	<string>724008431938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivo.sociomile-sdk-ios</string>
	<key>PROJECT_ID</key>
	<string>sociomile-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>sociomile-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724008431938:ios:bd80f80c404d0e50e7d8db</string>
</dict>
</plist>